{% extends 'components/base.html' %}

{% block sidebar %}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<form class="space-y-3" action="#" method="POST">
    {% csrf_token %}
    <div class="container bg-secondary mt-5">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input id="email" name="uname" type="text" required
               class="form-control">
    </div>

    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <label for="pass" class="form-label">Password</label>
            <div>
                <a href="#" class="font-weight-bold text-primary">Forgot password?</a>/
                <a href="/user/signup/" class="font-weight-bold text-primary">New user?</a>

            </div>
        </div>
        <input id="password" name="pass" type="password" autocomplete="current-password" required
               class="form-control">
    </div>

    <div class="mb-3">
        <button type="submit"
                class="btn btn-success d-block mx-auto">
            Log in
        </button>
    </div>
    </div>
</form>
{{error_message}}
<br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
{% block footer %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                Developed by:<a href="https://github.com/tusharpatil1907/">Tushar patil</a>
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                Designed By <a href="https://rushikeshthakur.netlify.app">Rushikesh Thakur</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}