{% extends 'components/base.html' %}

{% block sidebar %}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="container bg-secondary mt-4 ">
        <div class="row">
            <div class="col-md-6">
                <label for="first_name" class="form-label">First name</label>
                <input type="text" name="first_name" id="first_name" class="form-control" required>
            </div>
           <div class="col-md-6">
                <div class="mb-4">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" name="last_name" id="last_name" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-4">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password1" id="password" class="form-control" required>
        </div>
        <div class="mb-4">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" name="password2" id="confirm_password" class="form-control" required>
        </div>
            {#    {% endfor %} #}
        <div class="mt-6">
            <button type="submit" class="btn btn-success d-block mx-auto">Sign Up</button>
        </div>
    </div>
</form>

{% endblock %}
{% block footer %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                Developed by:<a href="https://github.com/tusharpatil1907/">Tushar patil</a>
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                Designed By <a href="https://rushikeshthakur.netlify.app">Rushikesh Thakur</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
